html {
  font-family: 'Roboto', sans-serif;
  background-color: #ffff;
  color: #3A3E3C;
}

body {
  margin: 0;
}

[tabindex="0"]:focus,
a:focus {
  outline: 3px solid #92B6E6;
  z-index: 4;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.nav ul a {
  text-decoration: none;
  color: #3A3E3C;
  padding: 0 9px;
  padding: 10px;
}

.nav ul a:hover {
  background-color: #F3950D;
  color: #fff;
  border-radius: 10px;
}

.nav {
  padding: 2em;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav ul {
  padding: 0;
}

.photos div div a img,
.photos img {
  width: 99%;
}

.photos div div a img.next-project {
  width: 150px;
}

.h-logo {
  width: 270px;
  margin: -20px;
}

footer {
  background-color: #3A3E3C;
  color: #ffff;
}

.social a img {
  max-width: 60px;
  min-width: 50px;
}

.cat {
  width: 40%;
  max-width: 300px;
  min-width: 300px;
}
}

.caption {
  color: #848484;
}

.big {
  font-size: 60px;
  line-height: 60px;
}

.b-blue {
  color: #92B6E6;
}

.mint {
  color: #96D6B2;
}

.yellow {
  color: #F7C646;
}

.blue {
  color: #9FDEEA;
}

.orange {
  color: #F3950D;
}

.footer {
  color: #A39E9E;
}

p, h2, li {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  letter-spacing: .5px;
}

.icon, .logo, .contact {
  transition: all linear 3s ease;
}

.icon:hover, .logo:hover, .contact:hover {
  transform: scale(1.15,1.15);
}

div img,
.rounded {
  border-radius: 20px;
}

div img.next-project,
.social a i img, .logo-wrapper a img {
  border-radius: 0;
}

.rounded{
  transition: all linear 2s ease;
}

.rounded:hover {
  transform: scale(1.03,1.03);
}

a ul li {
  color: #3A3E3C;
  list-style-type: none;
}

ul li::before {
  content: "\2022";
  color: #92B6E6;
  padding-right: .5em;
}

.bold-weight {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.treat img {
  width: 200px;
}

.back-top img:hover {
  transform: scale(1.03,1.03);
}

.btn-mint {
  background-color: #96D6B2;
}

.btn {
  border-radius: 10px;
  color: #ffff;
  border: none;
}

.btn-orange {
  background-color: #F3950D;
}

.btn:hover, .btn-orange:hover {
  background-color: #92B6E6;
}

a {
  text-decoration: none;
}

.logo {
  width: 90px;
}

.contact {
  width: 70px;
}

@media only screen and (min-width: 25em) {

  .contact {
    width: 90px;
  }

  .big {
    font-size: 80px;
    line-height: 70px;
  }

  .h-logo {
    width: 250px;
    margin: -10px;
  }

}

@media only screen and (min-width: 38em) {

  .logo-wrapper {
    text-align: left;
    position: absolute;
    top: 2.5%;
  }

  .nav {
    padding-bottom: 6em;
    padding-top: 3em;
    text-align: right;
  }

  .big {
    font-size: 100px;
    line-height: 90px
  }

.rounded {
    border-radius: 30px;
  }

  .btn {
    border-radius: 15px;

}

@media only screen and (min-width: 60em) {

  .big {
    font-size: 140px;
    line-height: 120px
  }

}
