html {
  font-family: 'Roboto', sans-serif;
  background-color: #ffff;
  color: #3A3E3C;
}

body {
  margin: 0;
}

[tabindex="0"]:focus,
a:focus {
  outline: 3px solid #000;
  z-index: 4;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.nav {
  padding: 2em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  z-index: 1;
  text-align: center;
}

.logo {
  max-width: 50px;
  min-width: 40px;
}

.contact {
  max-width: 90px;
  min-width: 80px;
}

.photos {
  z-index: 0;
}

main {
  margin-top: 200px;
}

.photos div div a img,
.photos img {
  width: 99%;
}

.photos div div a img.next-project {
  width: 200px;
}

footer {
  background-color: #3A3E3C;
  color: #ffff;
}

.grey {
  color: #3A3E3C;
}

.social a img {
  max-width: 50px;
  min-width: 40px;
}

.cat {
  width: 40%;
  max-width: 300px;
  min-width: 300px;
}

.caption {
  color: #848484;
}

.big {
  font-size: 60px;
  line-height: 60px;
}

.b-blue {
  color: #92B6E6;
}

.mint {
  color: #96D6B2;
}

.yellow {
  color: #F7C646;
}

.blue {
  color: #9FDEEA;
}

.orange {
  color: #F3950D;
}

.footer, .light-grey {
  color: #B4B6B8;
}

p, h2, li, figcaption {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  letter-spacing: .5px;
}

.icon, .logo, .contact, .next-project {
  transition: all linear 3s ease;
}

.icon:hover, .logo:hover, .contact:hover{
  transform: scale(1.15,1.15);
}

div img,
.rounded {
  border-radius: 20px;
}

div img.next-project,
.social a i img, .logo-wrapper a img, .contact, .iconography {
  border-radius: 0;
}

.rounded{
  transition: all linear 2s ease;
}

.rounded:hover, .next-project:hover {
  transform: scale(1.03,1.03);
}

ul {
  color: #3A3E3C;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.bold-weight {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.treat img {
  width: 200px;
}

.back-top img:hover {
  transform: scale(1.03,1.03);
}

.btn-mint {
  background-color: #96D6B2;
}

.btn {
  border-radius: 10px;
  color: #ffff;
  border: none;
}

.btn-orange {
  background-color: #F3950D;
}

.btn:hover, .btn-orange:hover {
  background-color: #92B6E6;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 25em) {

  .contact {
    max-width: 100px;
    min-width: 90px;
  }

  .logo {
    max-width: 50px;
    min-width: 40px;
  }


  .big {
    font-size: 65px;
    line-height: 70px;
  }

}

@media only screen and (min-width: 38em) {

  .big {
    font-size: 100px;
    line-height: 90px
  }

  .rounded {
    border-radius: 30px;
  }

  .btn {
    border-radius: 15px;
  }

  main {
    margin-top: 200px;
  }

  .logo-wrapper {
    float: left;
  }

  .contact-wrapper {
    float: right;
  }

  .contact {
    padding-top: 2em;
    width: 100px;
  }

  .social a img {
    max-width: 60px;
    min-width: 50px;
  }

  .logo {
    max-width: 75px;
    min-width: 65px;
  }

}

@media only screen and (min-width: 60em) {

  .big {
    font-size: 140px;
    line-height: 120px
  }

  main {
    margin-top: 250px;
  }

  .contact {
    padding-top: 1.5em;
    width: 110px;

}
