html {
  font-family: 'Raleway', sans-serif;
  background-color: #ffff;
  color: #484848;
}

body {
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #484848;
  padding: 0 9px;
}

.nav {
  padding: 2em;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav ul {
  padding: 0;
}

.logo {
  width: 150px;
}

.logo-wrapper {
  padding-bottom: 0.5em;
}

.photos img {
  width: 99%;
}

.big {
  font-size: 60px;
  line-height: -20px;
}

.brand {
  line-height: 100px;
}

.h-logo {
  width: 270px;
  margin: -20px;
}

footer {
  background-color: #848484;
  color: #ffff;
}

.social img {
  width: 3em;
  padding: 1em;
}

.caption {
  color: #848484;
}

.nav li:hover {
  color: #8cb7d3;
}

@media only screen and (min-width: 25em) {

  .big {
    font-size: 85px;
    line-height: 150px;
  }

  .h-logo {
    width: 250px;
    margin: -10px;
  }

}

@media only screen and (min-width: 38em) {

  .logo-wrapper {
    text-align: left;
    position: absolute;
    top: 2.5%;
  }

  .nav {
    padding-bottom: 15em;
    padding-top: 3em;
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {



}
