<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{% if page.meta %}{{ page.meta }}{% endif %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{{site.baseurl}}/www/images/favicon.ico"/>
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:700,900" rel="stylesheet">
</head>
  <body>
    <nav role="navigation" class="nav">
      <div class="logo-wrapper">
        <a href="{{site.baseurl}}/" aria-label="Go back the the home page"><img class="logo" src="{{site.baseurl}}/www/images/home-page/logo-hover.svg" onmouseover="src='{{site.baseurl}}/www/images/home-page/logo-hover.svg'" onmouseout="src='{{site.baseurl}}/www/images/home-page/logo-hover.svg'" alt="A logo displaying Amber in a typeface that directs to the home page"></a>
      </div>
      <div class="contact-wrapper pad-t-1-2">
        <a href="mailto:hey@itsamber.ca" aria-label="Email Amber Bailey"><img class="contact pad-t-1-4" src="{{site.baseurl}}/www/images/home-page/contact-black.svg" onmouseover="src='{{site.baseurl}}/www/images/home-page/contact-color.svg'" onmouseout="src='{{site.baseurl}}/www/images/home-page/contact-black.svg'" alt="A contact button to email Amber"></a>
      </div>
    </nav>

    <main role="main" id="main">
      {{content}}
    </main>

    <footer role="contentinfo">
      <div class="pad-t-2 gutter">
        <div class="max-length pad-b gutter-1-4">
          <h4 class="push-0 zetta">Hey who is this Amber?</h4>
          <p class="giga push-0">I’m a graphic designer from Ottawa. With a love for all things branding and illustration.</p>
          <p class="milli pad-t-1-4">When everyone asked me what I wanted to be when I grew up, I had no idea until I went to New York City. It wasn't until I was staring at a billboard that I said to myself "I want to do this". Having this experience has inspired me to try anything new and to jump feet first into any  challenge.</p>
        </div>
        <div class="grid wrapper">
          <div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center social pad-b">
            <ul class="list-group-inline">
              <li class="social">
                <a itemprop="email" href="mailto:hey@itsamber.ca" aria-label="Email Amber Bailey">
                  <i class="icon i-64">
                    <img class="gutter-1-8 icon" src="{{site.baseurl}}/www/images/home-page/email.svg" onmouseover="src='{{site.baseurl}}/www/images/home-page/email-hover.svg'" onmouseout="src='{{site.baseurl}}/www/images/home-page/email.svg'" alt="email icon">
                  </i>
                </a>
              </li>
              <li class="social">
                <a itemprop="instagram" href="https://www.instagram.com/itsambersdesigns/?hl=en" aria-label="Go to Amber Bailey's instagram">
                  <i class="icon i-64">
                    <img class="gutter-1-8 icon" src="{{site.baseurl}}/www/images/home-page/ig.svg" onmouseover="src='{{site.baseurl}}/www/images/home-page/ig-hover.svg'" onmouseout="src='{{site.baseurl}}/www/images/home-page/ig.svg'" alt="instagram icon">
                  </i>
                </a>
              </li>
              <li class="social">
                <a itemprop="behance" href="https://www.behance.net/bail0159bb64" aria-label="Got to Amber Bailey's behance">
                  <i class="icon i-64">
                    <img class="gutter-1-8 icon" src="{{site.baseurl}}/www/images/home-page/behance.svg" onmouseover="src='{{site.baseurl}}/www/images/home-page/behance-hover.svg'" onmouseout="src='{{site.baseurl}}/www/images/home-page/behance.svg'" alt="behance icon">
                  </i>
                </a>
              </li>
              <li class="social">
                <a itemprop="behance" href="https://www.linkedin.com/in/amber-bailey-43409a135/" aria-label="Got to Amber Bailey's linked in">
                  <i class="icon i-64">
                    <img class="gutter-1-8 icon" src="{{site.baseurl}}/www/images/home-page/linkedin.svg" onmouseover="src='{{site.baseurl}}/www/images/home-page/linkedin-hover.svg'" onmouseout="src='{{site.baseurl}}/www/images/home-page/linkedin.svg'" alt="behance icon">
                  </i>
                </a>
              </li>
          </div>
        </div>
        <div class="pico max-length pad-b-1-2 pad-t text-center footer">
          <p>©Copyright 2018 Amber Bailey</p>
        </div>
      </div>
    </footer>
  </body>
</html>
