<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>It's Amber's Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
</head>
  <div class="nav push-0">
    <div class="logo-wrapper pad-t">
      <a href="index.html"><img class="logo" src="images/logo.png" alt=""></a>
    </div>
    <nav>
      <ul class="push-0 mega">
        <a href="index.html"><li class="gutter-1-2">Portfolio</li></a>
        <a href="mailto:hey@itsamber.ca"><li class="gutter-1-2">Contact</li></a>
      </ul>
    </nav>
  </div>

  <main>
    {{content}}
  </main>

  <footer>
    <div class="grid pad-t-2 gutter">
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 social text-center pad-bottom">
        <a href="mailto:hey@itsamber.ca"><img src="images/email.svg" alt="email icon"></a>
        <a href="https://www.instagram.com/itsambersdesigns/?hl=en">
        <img src="images/ig.svg" alt="instagram icon"></a>
        <a href="https://vimeo.com/user70856864"><img src="images/linked.svg" alt="vimeo icon"></a>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
        <h4 class="push-0 giga">About Me</h4>
        <p class="milli max-length">If you don't know my name already it's Amber and I'm a Graphic Designer. When everyone asked me what I wanted to be when I grew up, I had no idea until I went to New York City. It wasn't until I was staring at a billboard that I said to myself "I want to do this". Having this experience has inspired me to try anything new and to jump feet first into any  challenge.</p>
      </div>
    </div>
  </footer>
